@font-face {
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    @apply bg-lightBg text-lighttext dark:bg-darkdark dark:text-darktext transition-colors duration-300;
  font-family: 'GangwonEduSaeeum_OTFMediumA', sans-serif;
  }

  /* 반응형 텍스트 및 패딩 설정 */
  @media (max-width: 767px) {
    body {
      @apply text-sm px-4;
    }
  }

  /* 768px 너비에서 가로 방향일 때만 적용 */
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    body {
      @apply text-base px-6;
    }
  }

  /* 768px 너비에서 세로 방향일 때 적용 */
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    body {
      @apply text-base px-6;
    }
  }

  @media (min-width: 1024px) {
    body {
      @apply text-lg px-8;
    }
  }
}